* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #927973;
}

.container {
    width: 1000px;
    margin: 10px auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* --------------------------------- */

header {
    margin-bottom: 50px;
}

header img {
    border-right: 1px solid #cebbb5;
    padding-right: 10%;
    height: 100px;
}

nav {
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 10px;
}

nav ul li a {
    text-decoration: none;
}

/* nav ul li a:hover {
    background-color: #927973;
    color: #fff;
} */

.section1 {
    height: 500px;
    background: url(../img/banner.jpg) center;   /* non mi prende il colore per scurire il background */
    background-size: cover;
    margin-bottom: 10px;
    position: relative;
}

.section1 .text {
    width: 60%;
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: #fff;  /* perche non mi cambia il colore? non eredita???*/
}

.section1 .text p, .section1 .text h2 {
    color: inherit;
}

footer {
    height: 150px;
    background-color: violet;
    margin-top: 10px;
}

.section2 .section-header {
    margin: 50px 0;
}

.section-header h2 {
    font-size: 40px;
    font-weight: bold;  /* non supportato ??? */
    color: #000;
}

.section2 .section-sidebar {
    float: left;
    height: 300px;
    width: 15%;
    background: rebeccapurple;
}

.section2 .section-main {
    /* background-color: yellow; */
    float: left;
    height: 300px;
    width: 70%;
    padding: 0 10px;
}
.section-main div {
    background-color: yellow;
    height: 100%;
}

